*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  font-family: "Open Sans", sans-serif;

  font-size: clamp(14px, 2.5vmin, 60px);

  --paragraph-font-size: 1.1rem;
  --h1-font-size: 2.2rem;
  --h2-font-size: 1.3rem;
  --padding-size: 10px;
  /* COLOR DEFINITIONS */

  --color-bg: #f4f6ff;
  --color-fg: #2a3335;
  --color-orange: #eb8317;
  --color-yellow: #f3c623;
  --color-navyblue: #10375c;
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  /* position: relative; */
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: space-between;
  overflow-x: hidden;
}

h1 {
  font-size: var(--h1-font-size);
}
h2 {
  font-size: var(--h2-font-size);
}

/* --------------------------------------------------- */
header,
footer {
  background-color: var(--color-fg);
  color: var(--color-bg);
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: center;
}

header {
  position: relative;
  top: 0px;
  min-height: 100px;
}

header * {
  min-width: 100%;
  text-align: center;
}

main {
  flex-grow: 1;
  padding: calc(var(--padding-size) * 1.5);
}
section {
  margin: 10px 0px;
  /* border: 4px solid var(--color-fg); */
  /* border-radius: 10px; */
  padding: var(--padding-size);
}

section h1 {
  font-size: 1.5rem;
  /* color: var(--color-orange); */
}

.services-container {
  margin-top: 10px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
  grid-auto-flow: row;
  /* min-width: 100px; */
  gap: calc(var(--padding-size) * 3) calc(var(--padding-size) * 2);
}
.services-container .boxes {
  border: 4px solid var(--color-orange);
  border-radius: 10px;
  transition: transform 0.2s, background-color 0.2s, color 0.2s;
  min-height: 200px;
  padding: var(--padding-size);
}

.services-container .boxes:hover {
  transform: scale(1.05);
  background-color: var(--color-fg);
  color: var(--color-bg);
  border: none;
  /* margin: 0 100px; */
}
footer {
  position: relative;
  bottom: 0px;
  width: 100%;
  align-self: center;
  min-height: 100px;
}

footer * {
  min-width: 100vw;
  text-align: center;
}

.separator {
  width: 100%;
  /* height:5px; */
  /* background-color: ; */
  border: 3px solid var(--color-fg);
  border-radius: 2rem;
}

@media only screen and (max-width: 600px) {
  .services-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (max-width: 300px) {
  .services-container {
    grid-template-columns: 1fr;
  }
}

/* SPANS */
.pwm {
  font-family: monospace, sans-serif;
  font-weight: bolder;
  
}

.pwm > .pwm-emoji {
    transition: font-size .2s;
}
.pwm > .pwm-hashtag {
    transition: color .2s;
}
.pwm > .pwm-python {
    transition: color .2s;

}
.pwm > .pwm-work {
    transition: color .2s;

}
.pwm > .pwm-money {
    transition: color .2s;

}

.pwm > .pwm-emoji:hover {
    font-size: 1.1em;
}
.pwm > .pwm-hashtag:hover {
    color: rgb(255, 82, 52);
}
.pwm > .pwm-python:hover {
    color:rgb(67, 138, 245)
}
.pwm > .pwm-work:hover {
    color: rgb(255, 255, 85);
}
.pwm > .pwm-money:hover {
    color: rgb(104, 235, 87);
}
